@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@200;400;500;700&family=Rubik:wght@400;500;700&family=Space+Grotesk:wght@300;500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik',sans-serif;
    font-weight: 500;
}



body {
    background-image: url("images/pattern-bg-desktop.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

#inputSection {
    margin-top: 25px;
    display: flex;
}

#searchInput {
    width: 380px;
    height: 43px;
    padding: 20px;
    border: none;
    border-radius: 12px 0 0 12px;
}

#searchInput:focus{
    outline: none;
}

#goButton {
    width: 45px;
    border: none;
    border-radius: 0 12px 12px 0;
    background: black;
    color: white;
    cursor: pointer;
}
#goButton i {
    margin: auto;
}

#allResults {
    margin-top: 40px;
    padding: 30px;
    display: flex;
    opacity: 0;
    border: 1px solid black;
    border-radius: 15px;
    background: white;
    border: none;

    z-index: 9999;
    position: absolute;
    top: 142px;
}

.results {
    border-right: 1px solid black;
    width: 250px;
    height: 90px;
}

.results h5 {
    color: hsl(0, 0%, 59%);
}

#result2, #result3, #result4 {
    margin-left: 25px;
}

.innerRes {
    margin-top: 7px;
}

#map {
    width: 100%;
    height: 75vh;
    top: 114px;
    position: relative;
    outline-style: none;
   
}

@media (max-width: 1140px){
    body {
        margin-top: 17px;
        background-size: auto;

    }
    #allResults {
        display: block;
        width: 335px;
        margin-top: 2px;
        text-align: center;
        margin-top: -10px;    }
    #result2, #result3, #result4 {
        margin-left: 0;
    }
    .results{
        border: none;
        height: 66px;
        font-size: 15px;
        margin: auto !important
    }
    #searchInput {
        width: 290px;
        height: 55px;
        font-size: 17px;
    }
   
    #title{
        font-size: 30px;
    }

    #inputSection {
        margin-top: 10px;
    }
}